@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


:root {
    --fonte1: 'Ysabeau Infant', sans-serif;
    --fonte2: 'Montserrat', sans-serif;
    --cor1: #fff;
    --cor2: #ffffffcc;
    --cor3: #000;
    --cor4: #000000cc;
    --cor5: #0200006e;
    --cor6: #ffdf00;
    --cor7: #009c3b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte1);
}

.secao-banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao-banner video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-informacoes {
    width: 768px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imagem-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../images/neymar.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-perfil::before {
    content: "";
    position: absolute;
    width: 215px;
    height: 215px;
    background: linear-gradient(90deg, var(--cor6), var(--cor7));
    z-index: -1;
    border-radius: 50%;
}

.perfil h1 {
    position: relative;
    font-size: 50px;
    color: var(--cor1);
    text-shadow: 2px 6px 3px var(--cor3);
}

h1::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 5px;
    background: linear-gradient(90deg, var(--cor6), var(--cor7));
    bottom: 2px;
    left: 5px;
    border-radius: 4px;
}

.perfil h1::after {
    content: "";
    position: absolute;
    bottom: 12px;
    right: -20px;
    background-image: url(../images/verificado.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.links {
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.links a {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
    color: var(--cor1);
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    background-color: var(--cor5);
}

.links a:hover {
    background-color: var(--cor1);
    color: var(--cor3);
}

.links p {
    width: 90%;
}

.links a img {
    width: 30px;
    height: auto;
}

.secao-estatisticas {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    font-family: var(--fonte2);
    background-image: url(../images/imagem-de-fundo.jpg);
    position: center;
    background-size: cover;
    background-attachment: fixed;
}

.secao-estatisticas h2 {
    font-size: 74px;
    color: var(--cor1);
    text-shadow: 3px 6px 1px var(--cor3);
}

.tabela th {
    font-size: 26px;
    background-color: var(--cor4);
    color: var(--cor1);
    text-shadow: 2px 2px 1px var(--cor3);
}

.tabela th, tr, td {
    padding: 20px;
}

.tabela td img {
    width: 30px;
    height: auto;
}

.tabela tbody td:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tabela tbody tr:nth-of-type(odd) {
    background-color: var(--cor2);
    font-weight: 600;
    font-size: 18px;
    color: var(--cor3);
}

.tabela tbody tr:nth-of-type(even) {
    background-color: var(--cor4);
    font-weight: 600;
    font-size: 18px;
    color: var(--cor1);
}